<% if notice %>
  <div style="margin: 0px;" class="alert alert-success"><%= notice %></div>
<% end %>
<% if alert %>
  <div style="margin: 0px;" class="alert alert-danger"><%= alert %></div>
<% end %>